/* You can add global styles to this file, and also import other style files */

body{
    position: absolute;
    width:100%;
    height:100%;
    background-image: url(assets/login_bg_2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;
}

.center{
    text-align: center;
    justify-content: center;
    align-items: center;  
}

.row{
    text-align: center;
    justify-content: center;
    align-items: center; 
}

.header {
    padding: 25px;
    margin: 25px auto;
}

.btn-primary{
    margin-top: 10px;
}

.ticketCont {
    margin-top: 0px;
    background-image: url(assets/bluebg.png);
    text-align: center;
    justify-content: center;
    align-items: center; 
    border-radius: 27px;
    color: aliceblue;
}

.ticketShade{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.363);
    border-radius: 27px;
}

.formBody{
    padding: 25px;
    margin: 25px auto;
}

.nav-item {
    color: white;
}
