
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="index.html" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
    <span class="fs-4">Company</span>
    </a>

    <ul class="nav nav-pills">
    <li class="nav-item"><a href="index.html" class="nav-link" aria-current="page">Home</a></li>
    <li class="nav-item"><a href="view_past_tickets.html" class="nav-link">View Past Tickets</a></li>
    <li class="nav-item"><a href="create_ticket.html" class="nav-link">Add a Reimbursement Request</a></li>
    <li class="nav-item"><a href="financemanager.html" class="nav-link">Finance Manager</a></li>
    <li class="nav-item"><a href="login.html" class="nav-link"></a>Login</a></li>
    </ul>
</header>
