<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom navbar-dark bg-dark">
    <a href="/home" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <span class="brand text-light">Company</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a href="/home" class="nav-link active" aria-current="page">Home</a></li>
      <li class="nav-item"><a href="/tickets" class="nav-link">View Past Tickets</a></li>
      <li class="nav-item"><a href="/ticket" class="nav-link">Add a Reimbursement Request</a></li>
      <li class="nav-item"><a href="/ticketView" class="nav-link">Finance Manager</a></li>
      <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
      <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
    </ul>
  </header>
    