<header class="expand expand-lg d-flex flex-wrap justify-content-center py-3 border-bottom ">
    <a href="/home" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <span class="navbar-brand text-light">Team B</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a href="/home" class="nav-link active" aria-current="page">Home <i class="bi bi-house"></i> </a></li>
      <li class="nav-item"><a href="/tickets" class="nav-link">View Past Tickets <i class="bi bi-tag"></i></a></li>
      <li class="nav-item"><a href="/ticket" class="nav-link">Add a Reimbursement Request <i class="bi bi-pencil-square"></i></a></li>
      <li class="nav-item"><a href="/ticketView" class="nav-link">Finance Manager <i class="bi bi-clipboard-data"></i></a></li>
      <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
      <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
    </ul>
</header>
    