<p>ticket works!</p>
<div class="container">
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>View</th>
        <th>ticket id</th>
        <th>amount</th>
        <th>description</th>
        <th>status</th>
        <th>time</th>
        <th>type</th>
        <th>emp id</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of tickets"> 
          <td (click)="viewSpecificTicket(ticket)">View</td>   
          <td (click)="viewSpecificTicket(ticket)"><span>{{ticket.id}}</span></td>
          <td (click)="viewSpecificTicket(ticket)"><span>{{ticket.amount}}</span></td>
          <td (click)="viewSpecificTicket(ticket)"><span>{{ticket.description}}</span></td>
          <td (click)="viewSpecificTicket(ticket)"><span>{{ticket.status}}</span></td>
          <td (click)="viewSpecificTicket(ticket)"><span>{{ticket.time}}</span></td>
          <td (click)="viewSpecificTicket(ticket)"><span>{{ticket.type}}</span></td>
          <td (click)="viewSpecificTicket(ticket)"><span>{{ticket.employee_id}}</span></td>
        </tr>
      </tbody>
    </table>
  </div>