
<div class="container">
    <table class="table table-bordered table-striped table-dark">
      <thead>
      <tr>
        <th>ticket id</th>
        <th>amount</th>
        <th>description</th>
        <th>status</th>
        <th>time</th>
        <th>type</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let ticket of tickets">
        <td><span>{{ticket.id}}</span></td>
        <td><span>{{ticket.amount}}</span></td>
        <td><span>{{ticket.description}}</span></td>
        <td><span>{{ticket.status}}</span></td>
        <td><span>{{ticket.time}}</span></td>
        <td><span>{{ticket.type}}</span></td>

      </tr>
      </tbody>
    </table>
  </div>