
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <showticket></showticket>
        </div>

    </div>

  <div class="jumbotron card">
    <h2 (click)="getScopeInfo()">View Past Tickets </h2>
    <!--Need to modify-->
  <form (ngSubmit)="filtering(f)" #f="ngForm">
      <label for="statusFilter">Filter requests by ticket status</label>
      <select name="statusFilter" id="statusFilter" ngModel>
        <option value="none">None</option>
        <option value="pending">Pending</option>
        <option value="approved">Approved</option>
        <option value="denied">Denied</option>
      </select>
      <button type="submit">Search</button>
  </form>
      <table class="table table-striped table-hover">
          <thead class="table-light">
              <tr>
                  <th>View</th>
                  <th>ticket id</th>
                  <th>type</th>
                  <th>description</th>
                  <th>amount</th>
                  <th>time</th>
                  <th>status</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
            <ng-container  *ngIf="filter === 'none'; else other">
                <tr *ngFor="let req of requests">
                    <td (click)="viewSpecificTicket(req)">View</td>
                    <td>{{req.id}}</td>
                    <td>{{req.type}}</td>
                    <td>{{req.description}}</td>
                    <td>$ {{req.amount.toFixed(2)}}</td>
                    <td>{{formatDate(req.time)}}</td>
                    <td>{{req.status}}</td>
                </tr>
            </ng-container>
        </tbody>
      </table>


  <ng-template #other>
    <ng-container *ngFor="let req of requests">
        <tr *ngIf="req.status === filter">
                <td (click)="viewSpecificTicket(req)">View</td>
                <td>{{req.id}}</td>
                <td>{{req.type}}</td>
                <td>{{req.description}}</td>
                <td>$ {{req.amount.toFixed(2)}}</td>
                <td>{{formatDate(req.time)}}</td>
                <td>{{req.status}}</td>
        </tr>
    </ng-container>
  </ng-template>
