<div>
    <label for="filter">Filter: </label>
    <form (ngSubmit)="filtered(f)" #f="ngForm">
        <select id="filter" name="filter" ngModel>
            <option value="none">none</option>
            <option value="approved">approved</option>
            <option value="denied">denied</option>
            <option value="pending">pending</option>
        </select>
        <button type="submit">Filter</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Ticket Id</th>
                <th>Type</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Time</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <ng-container  *ngIf="filter === 'none'; else other">
                <tr *ngFor="let req of requests">
                    <td>{{req.id}}</td>
                    <td>{{req.type}}</td>
                    <td>{{req.description}}</td>
                    <td>$ {{req.amount.toFixed(2)}}</td>
                    <td>{{formatDate(req.time)}}</td>
                    <td>{{req.status}}</td>
                </tr>  
            </ng-container>       
        </tbody>
    </table>

</div>


<ng-template #other>
    <ng-container *ngFor="let req of requests">
        <tr *ngIf="req.status === filter">
                <td>{{req.id}}</td>
                <td>{{req.type}}</td>
                <td>{{req.description}}</td>
                <td>$ {{req.amount.toFixed(2)}}</td>
                <td>{{formatDate(req.time)}}</td>
                <td>{{req.status}}</td>
        </tr>
    </ng-container>
</ng-template>