<div class="ticketCont"> 
    <div class="ticketShade">      
        <div class="row justify-content-center header">
            <div class="col-lg-2">
                <h3>New Ticket</h3>
            </div>
        </div>

        <div class="row justify-content-center formBody">  
            <div class="col-lg-8 formBody">
                <form (ngSubmit)="onSubmit(ticketForm)" #ticketForm="ngForm" novalidate>
                <!-- <label for="employee_id">Employee ID</label>
                    <input name="employee_id" type="number" ngModel="ticketModel.employee_id"> -->
                    <label for="amount">Amount</label>
                    <br><input name="amount" type="number" ngModel="ticketModel.amount"><br>
                    <label for="type">Type</label>
                    <br><select name="type" ngModel="ticketModel.type">
                        <option value="food">Food</option>
                        <option value="lodge">Lodging</option>
                        <option value="travel">Travel</option>
                        <option value="other">Other</option>
                    </select><br>
                    <label for="description">Description</label>
                    <br><textarea name="description" type="textarea" ngModel="ticketModel.desc" rows="3" columns="50"></textarea><br>
                    <input name="status" type="hidden" value="pending" ngModel="pending"><br>
                    <label for="empid">Employee ID</label><br>
                    <!-- <br><input name="empid" type="number" ngModel="ticketModel.empid"> -->
                    <br><button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>